#################
## GISWATER
#################

log
portable
config/giswater_*
build_runnable*.xml
samples/sample_mdt.asc
samples/sample_mdt.sql
models/swmm2d/2D/[Bb]in/
models/swmm_custom/swmm51006_engine_0/src/vc/[Bb]in/
sign_*.bat
test
_*


#################
## Eclipse
#################

build*.num
.project
.metadata
bin/**
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath
/bin/
sh.exe.stackdump