#################
## GISWATER
#################

log
portable
config/giswater_*
build_runnable.xml
samples/*.asc
samples/sample_mdt.sql
models/swmm2d/2D/[Bb]in/
models/swmm_custom/swmm51006_engine_0/src/vc/[Bb]in/
sign_1.1.bat


#################
## Eclipse
#################

build.num
.project
.metadata
bin/**
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath